// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1, h2 {
  font-weight: bold;
}

h2 {
  font-size: 20px;
  margin: 10px;
}

a {
  margin: 0px;
}

.index h2 {
  margin: 20px 0;
}

tbody {
  margin: 10px;
}

.create-form {
  display: block;
  margin-bottom: 10px;
}

.create-form a {
  margin: 0px;
}

.update-form {
  display: block;
  margin-bottom: 10px;
}


.show-text {
  margin: 33px;
}